<div class="heading-btn">
    <button class="btn"><img src="../../assets/images/add.png" alt=""> New</button>
    <button class="btn"><img src="../../assets/images/save.png" alt=""> Save</button>
    <button class="btn delete"><img src="../../assets/images/delete.png" alt=""> Delete</button>
    <img src="../../assets/images/dots.png" alt="">
</div>
<div class="invoice-info">
    <h4>Invoice Information & Payment</h4>
    <div class="d-flex justify-content-between">
        <p>Gross</p>
        <p>₹55,625.00</p>
    </div>
    <div class="d-flex justify-content-between">
        <p>Cash Disc.</p>
        <p class="input">-0.00</p>
    </div>
    <div class="d-flex justify-content-between">
        <p>Other Adj.</p>
        <p class="input">-0.00</p>
    </div>
    <div class="d-flex justify-content-between">
        <p>Bill Amount</p>
        <p>₹55,625.00</p>
    </div>
    <div class="d-flex justify-content-between">
        <p>Total Tax:</p>
        <p>2781.25</p>
    </div>
    <div class="d-flex justify-content-between">
        <p class="cgst">CGST#2.5</p>
        <p class="cgst">1390.625</p>
    </div>
    <div class="d-flex justify-content-between">
        <p class="cgst">SGST#2.5</p>
        <p class="cgst">1390.625</p>
    </div>
    <div class="d-flex justify-content-between">
        <p>Discounts:</p>
        <p>-100.00</p>
    </div>
    <div class="d-flex justify-content-between">
        <p>Round Off</p>
        <p>-0.25</p>
    </div>
    <div class="d-flex justify-content-between net-total">
        <p class="net-price">NET:</p>
        <p class="net-price">₹58,306.00</p>
    </div>
    <div class="d-flex justify-content-between">
        <p>Paid</p>
        <p>₹8,306.00</p>
    </div>
    <div class="d-flex justify-content-between">
        <p>Due.</p>
        <p>50,000.00</p>
    </div>
</div>