<div class="product-table table-responsive">
    <table class="table">
        <tr>
            <th>Product</th>
            <th>Batch</th>
            <th>Expiry Date</th>
            <th>MRP</th>
            <th>Qty</th>
            <th>Disc</th>
            <th>Tax</th>
            <th>SalesTax</th>
            <th>Amount</th>
            <th>Tax Amount</th>
            <th>Final Amount</th>
        </tr>
        <tr>
            <td>GUFITRIG 5000 IU</td>
            <td>APO05N51</td>
            <td>07/26</td>
            <td>438.32</td>
            <td>10.00</td>
            <td>5</td>
            <td>TPG1</td>
            <td>TSG1</td>
            <td>2190.52</td>
            <td>109.52</td>
            <td>2300.04</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Total Items: 1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div class="heading-btn">
        <button class="btn"><img src="../../assets/images/add.png" alt=""> Add item</button>
        <button class="btn delete"><img src="../../assets/images/delete.png" alt=""> Remove
            item</button>
    </div>
</div>