<div class="accordion" id="accordionExample1">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1"
                aria-expanded="true" aria-controls="collapseOne1">
                Customer Details
            </button>
        </h2>
        <div id="collapseOne1" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample1">
            <div class="accordion-body">
                <div class="d-grid">
                    <div class="grid-box">
                        <label>Name</label>
                        <div class=" flex justify-content-center">
                            <p-dropdown [options]="customersData" [(ngModel)]="selectedCustomerDetail.customer"
                                optionLabel="name" (onChange)="onSelectCustomer()" [filter]="true" filterBy="name"
                                [showClear]="true" placeholder="Select a Customer" [tabindex]="1">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="grid-box">
                        <label>GST No.</label>
                        <input tabindex="2" placeholder="GST Number" type="text" name="gstNumber" pInputText
                            [(ngModel)]="selectedCustomerDetail.customer.gstNumber" [disabled]="true" />
                    </div>
                    <div class="grid-box">
                        <label>Invoice No.</label>
                        <p-dropdown [tabindex]="3" [options]="invoicesData" [(ngModel)]="selectedCustomerDetail.invoiceNumber" optionLabel="invoiceNumber"
                            [filter]="true" filterBy="invoiceNumber" [showClear]="true" placeholder="Select a Invoice">
                         </p-dropdown>
                    </div>
                </div>

                <div class="new-grid">
                    <div class="grid-box">
                        <label>Address</label>
                        <div class="card flex justify-content-center">
                            <textarea rows="3" cols="30" placeholder="Customer Address" pInputTextarea
                                [(ngModel)]="selectedCustomerDetail.customer.address" tabindex="4" [disabled]="true"></textarea>
                        </div>
                    </div>
                    <div class="grid-template">
                        <div class="new-d-grid">
                            <div class="grid-box">
                                <label>Refer by.</label>
                                <p-dropdown [tabindex]="5" [options]="doctorsData"
                                    [(ngModel)]="selectedCustomerDetail.referredby" optionLabel="name" [filter]="true"
                                    filterBy="name" [showClear]="true" placeholder="Select a Doctor">
                                </p-dropdown>
                            </div>
                            <div class="grid-box">
                                <label>Date</label>
                                <p-calendar [tabindex]="6" [(ngModel)]="selectedCustomerDetail.date"></p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>